<center><span class="headline">Statistic</span></center>
<table border="1" width="190" align="center" cellpadding="1" cellspacing="3">
	<tr bgcolor="#EEEEEE">
		<td><b>{docs} Documents</b></td>
		<td>&nbsp;</td>
	</tr>

	<!-- BEGIN documents -->
	<tr>
		<td>{name}</td>
		<td>{qty}</td>
	</tr>
	<!-- END documents -->

	<!-- BEGIN menus -->
	<tr>
		<td>{name}</td>
		<td>{qty}</td>
	</tr>
	<!-- END menus -->

	<!-- BEGIN pages -->
	<tr>
		<td>{name}</td>
		<td>{qty}</td>
	</tr>
	<!-- END pages -->

</table>
