<table border="0" width="95%" align="center">
	<tr>
		<td align=left height=25 valign=middle colspan="2">
			<center><span align="center" class="headlinesmall"><b>Сведения о заказчике</b></span></center>
		</td>
	</tr>
	
	<tr>
		<td><b>Контактное лицо:</b></td>
		<td>{contactname}</td>
	</tr>
	<tr>
		<td><b>Компания:</b></td>
		<td>{company}</td>
	</tr>
	<tr>
		<td><b>Страна :</b></td>
		<td>{country_str}</td>
	</tr>
	<tr>
		<td><b>Телефон:</b></td>
		<td>{phone}</td>
	</tr>
	<tr>
		<td><b>E-mail:</b></td>
		<td>{email}</td>
	</tr>
	
	
	<tr>
		<td align=left height=25 valign=middle colspan="2">
			<center><span align="center" class="headlinesmall"><b>Сведения о грузе</b></span></center>
		</td>
	</tr>
	<tr>
		<td><b>Наименование груза :</b></td>
		<td>{cargoinfo}</td>
	</tr>
	<tr>
		<td><b>Размер контейнера (20’/40’/45’):</b></td>
		<td>{containersize}</td>
	</tr>
	<tr>
		<td><b>Тип контейнера :</b></td>
		<td>{containertype_str}</td>
	</tr>
	<tr>
		<td><b>Вес груза:</b></td>
		<td>{cargoweight}</td>
	</tr>
	<tr>
		<td><b>Количество контейнеров:</b></td>
		<td>{containerqty}</td>
	</tr>
	
	
  <tr>
 		<td align=left height=25 valign=middle colspan="2">
 			<center><span align="center" class="headlinesmall"><b>Направление перевозки</b></span></center>
 		</td>
 	</tr>
 	<tr>
 		<td><b>Пункт отправления - город:</b></td>
 		<td>{sourcecity}</td>
 	</tr>
 	<tr>
 		<td><b>Пункт отправления - страна:</b></td>
 		<td>{sourcecountry_str}</td>
 	</tr>
 	<tr>
 		<td><b>Пункт назначения - город:</b></td>
 		<td>{destinationcity}</td>
 	</tr>
 	<tr>
 		<td><b>Пункт назначения - страна:</b></td>
 		<td>{destinationcountry_str}</td>
 	</tr>
 	<tr>
 		<td><b>Дополнительная информация:</b></td>
 		<td>{additionalinfo}</td>
 	</tr>

	
</table>
