<center><span class="headline">Анкета</span></center>

<br><br>

<table border="0" width="95%" align="center">
	<tr>
		<td><b>Фамилия, имя, отчество:</b></td>
		<td>{contactname}</td>
	</tr>
	<tr>
		<td><b>Дата рождения:</b></td>
		<td>{birthday}</td>
	</tr>
	<tr>
		<td><b>Пол:</b></td>
		<td>{gender_str}</td>
	</tr>
	<tr>
		<td><b>Город проживания:</b></td>
		<td>{city}</td>
	</tr>
	<tr>
		<td><b>Контактный телефон:</b></td>
		<td>{phone}</td>
	</tr>	
	
	
	
	
 	<tr>
 		<td><b>Email:</b></td>
 		<td>{email}</td>
 	</tr>
 	<tr>
 		<td><b>Интересующая вакансия:</b></td>
 		<td>{interesting_vacancy}</td>
 	</tr>
 	
 	
 	<tr>
 		<td align=left height=25 valign=middle colspan="2">
 			<center><br><br></center>
 		</td>
 	</tr>
 	<tr>
 		<td><b>Образование - 1:</b></td>
 		<td>{education1_str}</td>
 	</tr>
 	<tr>
 		<td><b>Название заведения:</b></td>
 		<td>{institution_name1}</td>
 	</tr>
 	<tr>
 		<td><b>Форма обучения:</b></td>
 		<td>{edform1_str}</td>
 	</tr>
 	<tr>
 		<td><b>Факультет:</b></td>
 		<td>{faculty1}</td>
 	</tr>
 	<tr>
 		<td><b>Квалификация:</b></td>
 		<td>{qualification1}</td>
 	</tr>
 
 	<tr>
 		<td align=left height=25 valign=middle colspan="2">
 			<center><br><br></center>
 		</td>
 	</tr>
 	<tr>
 		<td><b>Образование - 2:</b></td>
 		<td>{education2_str}</td>
 	</tr>
 	<tr>
 		<td><b>Название заведения:</b></td>
 		<td>{institution_name2}</td>
 	</tr>
 	<tr>
 		<td><b>Форма обучения:</b></td>
 		<td>{edform2_str}</td>
 	</tr>
 	<tr>
 		<td><b>Факультет:</b></td>
 		<td>{faculty2}</td>
 	</tr>
 	<tr>
 		<td><b>Квалификация:</b></td>
 		<td>{qualification2}</td>
 	</tr>
 
 	<tr>
 		<td><b>Опыт работы:</b></td>
 		<td>{experience}</td>
 	</tr>
 	
 	<tr>
 		<td><b>Знание ПК:</b></td>
 		<td>{rank_pc_str}</td>
 	</tr>
 	<tr>
 		<td><b>Уровень английского языка:</b></td>
 		<td>{rank_en_str}</td>
 	</tr>

</table>

