<br>
<table width="490" border="0" align=center cellpadding=0 cellspacing=0 bgcolor="#F8F8F8">
	<tr>
		<td width="478" valign=top align=center>
			Language Manager
		</td>
	</tr>
</table>

<br>

<table width="490" border="0" align=center cellpadding=0 cellspacing=0 bgcolor="#F8F8F8">
	<tr>
		<td width="478" valign=top align=center>

		<table border=0 cellpadding=0 cellspacing=0 width=489 align="center">
			<tr><td width="455" height="5" bgcolor="#DDDDDD" colspan=6><img src="{picPath:static}/1.gif" height=5 width=455></td></tr>
			<tr>
				<td width="5" bgcolor="#DDDDDD"><img src="{picPath:static}/1.gif" height=1 width=5></td>
				<td width="80" height=25 bgcolor="#DDDDDD" class=b align=left>ID</td>
				<td width="120" height=25 bgcolor="#DDDDDD" class=panel align=left>Module Name</td>
				<td width="10" height=25 bgcolor="#DDDDDD" class=panel align=left>Settings</td>
				<td width="5" bgcolor="#DDDDDD"><img src="{picPath:static}/1.gif" height=1 width=5></td>
			</tr>

			<!-- BEGIN modules -->
			<tr><td width="438" height="5" bgcolor="{bgcolor}" colspan=5><img src="{picPath:static}/1.gif" height=5 width=438></td></tr>
			<tr>
				<td width="5" bgcolor="{bgcolor}"><img src="{picPath:static}/1.gif" height=1 width=5></td>
				<td width="80" height=25 bgcolor="{bgcolor}" class=b align=left>{id}</td>
				<td width="120" height=25 bgcolor="{bgcolor}" class=panel align=left>{modulename}</td>
				<td width="10" height=25 bgcolor="{bgcolor}" class=panel align=left>{msid}</td>
				<td width="5" bgcolor="{bgcolor}"><img src="{picPath:static}/1.gif" height=1 width=5></td>
			</tr>
			<!-- END modules -->
		</table>

		</td>
	</tr>
</table>


<br>
