<br>
<table width="490" border="0" align=center cellpadding=0 cellspacing=0 bgcolor="#F8F8F8">
	<tr>
		<td width="478" valign=top align=center>
			Language Manager
		</td>
	</tr>
</table>
<br>

<center><b><a href="{homePath:static}/Admin/AdminModule/">View modules</a></b></center>
<p>



<table width="490" border="0" align=center cellpadding=0 cellspacing=0 bgcolor="#F8F8F8">
	<tr>
		<td width="478" valign=top align=center>

<table border=0 cellspacing=0 cellpadding=0 width=520 align=center>
	<tr><td align=center colspan=5>{navbar}</td></tr>
	<!-- BEGIN pagecontrol --><tr>
		<td align=center width="10%" class=first>{prev}</td>
		<td align=center width="10%" class=first>{first}</td>
		<td align=center width="60%" class=first>{pager}</td>
		<td align=center width="10%" class=first>{last}</td>
		<td align=center width="10%" class=first>{next}</td>
	</tr><!-- END pagecontrol -->
</table>
<p>
<table border=0 cellpadding=0 cellspacing=0 width=530>
	<tr><td width="518" height="5" bgcolor="#DDDDDD" colspan=6><img src="{picPath:static}/1.gif" height=5 width=518></td></tr>
	<tr>
		<td width="5" bgcolor="#DDDDDD"><img src="{picPath:static}/1.gif" height=1 width=5></td>
		<td width="80" height=25 bgcolor="#DDDDDD" class=b align=left>ID</td>
		<td width="140" height=25 bgcolor="#DDDDDD" class=panel align=left>Module Name</td>
		<td width="158" height=25 bgcolor="#DDDDDD" class=b align=center>Name</td>
		<td width="158" height=25 bgcolor="#DDDDDD" class=b align=center>Value</td>
		<td width="5" bgcolor="#DDDDDD"><img src="{picPath:static}/1.gif" height=1 width=5></td>
	</tr>

	<!-- BEGIN items -->
	<tr><td width="518" height="5" bgcolor="{bgcolor}" colspan=6><img src="{picPath:static}/1.gif" height=5 width=518></td></tr>
	<tr>
		<td width="5" bgcolor="{bgcolor}"><img src="{picPath:static}/1.gif" height=1 width=5></td>
		<td width="80" height=25 bgcolor="{bgcolor}" class=b align=left>{id}</td>
		<td width="140" height=25 bgcolor="{bgcolor}" class=panel align=left>{module}</td>
		<td width="158" height=25 bgcolor="{bgcolor}" class=b align=center>{name}</td>
		<td width="158" height=25 bgcolor="{bgcolor}" class=b align=center>{value}</td>
		<td width="5" bgcolor="{bgcolor}"><img src="{picPath:static}/1.gif" height=1 width=5></td>
	</tr>
	<!-- END items -->
</table>
<br>
<table border=0 cellspacing=0 cellpadding=0 width=520 align=center>
	<!-- BEGIN pagecontrol2 --><tr>
		<td align=center width="10%" class=first>{prev}</td>
		<td align=center width="10%" class=first>{first}</td>
		<td align=center width="60%" class=first>{pager}</td>
		<td align=center width="10%" class=first>{last}</td>
		<td align=center width="10%" class=first>{next}</td>
	</tr><!-- END pagecontrol2 -->
</table>

		</td>
	</tr>
</table>



