<html>
<head><title> :: Administration Area :: </title>
<link rel="stylesheet" href="{rootPath:static}/css/style.css">
</head>
<body marginheight=3 marginwidth=3 leftmargin=3 topmargin=3>
<form method="POST" action="{formaction}" name="auth">
<table border=0 cellspacing=0 cellpadding=0 width=460 align=center valign=middle>
	<tr>
		<td height=415 align=center valign=middle>
		{header_error}
		<table border=0 cellspacing=0 cellpadding=0 width=460 align=center valign=middle>
			<tr>
		<td rowspan="2" colspan=2 height="6" bgcolor="#DCEBFF"><img src="{picPath:static}/corner1.gif"></td>
		<td width="458" bgcolor="#336699" height="1"><img src="{picPath:static}/1.gif" height=1 width=458></td>
		<td rowspan="2" colspan=2 height="6" bgcolor="#DCEBFF"><img src="{picPath:static}/corner2.gif"></td>
	</tr>
	<tr><td width="448" height="5" bgcolor="#DCEBFF"><img src="{picPath:static}/1.gif" height=5 width=458></td></tr>
	<tr>
		<td width="1" bgcolor="#336699"><img src="{picPath:static}/1.gif" height=1 width=1></td>
		<td width="5" bgcolor="#DCEBFF"><img src="{picPath:static}/1.gif" height=1 width=5></td>
		<td width="448" bgcolor="#DCEBFF" class=red height=80 align=center valign=middle>
			<h3>Access Denied !</h3>
		</td>
		<td width="5" bgcolor="#DCEBFF"><img src="{picPath:static}/1.gif" width=5></td>
		<td width="1" bgcolor="#336699"><img src="{picPath:static}/1.gif" width=1></td>
	</tr>
	<tr>
		<td rowspan="2" colspan=2 height="6" bgcolor="#DCEBFF"><img src="{picPath:static}/corner3.gif"></td>
		<td width="448" height="5" bgcolor="#D5EBFF"><img src="{picPath:static}/1.gif" height=5 width=1></td>
		<td rowspan="2" colspan=2 height="6" bgcolor="#DCEBFF"><img src="{picPath:static}/corner4.gif"></td>
	</tr>
	<tr><td width="448" bgcolor="#336699" height="1"><img src="{picPath:static}/1.gif" height=1 width=1></td></tr>
</table>
{formEnd:static}
</td>
</tr>
</table>
</body>
</html>