<form method=POST action="{formaction}" enctype="multipart/form-data">
<input type=hidden name="o" value="AdminMessageView">
<input type=hidden name="step" value="edit">
<input type="hidden" name="form[id]" value="{id}">
{item_langs1}{item_langs2}
<span class="error">{header_error}</span>
<table border=0 cellpadding=2 cellspacing=0 width=468>
	<tr class="contentlinebottom">
		<td valign=top align="center" class=b>{global.button.admin_bt_message}<br> </td>
	</tr>

	<tr>
		<td valign=top align="center" class=b>
		{global.label.admin_rus_version}:
		 </td>
	</tr>

	<tr>
		<td valign=top align="left" class=b>{global.label.admin_description}: </td>
	</tr>
	<tr>
		<td valign=top align="left">{rus_text}<br>{local.text.req_title} <span class="error">{text1_error}</span></td>
	</tr>


	<tr>
		<td valign=top align="center" class=b>
			{global.label.admin_eng_version}:
		</td>
	</tr>

	<tr>
		<td valign=top align="left" class=b>{global.label.admin_description}: </td>
	</tr>
	<tr>
		<td valign=top align=left>{eng_text}<br>{local.text.req_title} <span class="error">{text2_error}</span></td>
	</tr>

	<tr valign=top>
		<td colspan=3 align=center valign=middle height=40>
			<input class=button type=reset value="{global.button.admin_bt_clear}" style="width:160px;">&nbsp;<input class=button type=submit name=submit style="width:190px;" value="{actionbutton}">
		</td>
	</tr>
</table>


{formEnd:static}
