<!-- BEGIN Menu -->
	<b><a class="menuitem" href="{homePath:static}/{url}">{name}</a></b><br>
	<!-- BEGIN Items -->
		&nbsp;&nbsp;&nbsp;&nbsp;{nbsps}<a class="menuitem" href="{homePath:static}/{url}">{name}</a><br>
	<!-- END Items -->
	<img src="{picPath:static}/elements/hbdivider.jpg" width="415" height="8"><br>
<!-- END Menu -->
	<b>
	<a class="menuitem" href="{homePath:static}/SiteMap">{global.button.bt_sitemap}</a><br>
	<img src="{picPath:static}/elements/hbdivider.jpg" width="415" height="8"><br>
	<a class="menuitem" href="{homePath:static}/Things/Help">{global.button.bt_help}</a><br>
	<img src="{picPath:static}/elements/hbdivider.jpg" width="415" height="8"><br>
	<a class="menuitem" href="{homePath:static}/Things/Faq">{global.button.bt_faq}</a><br>
	<img src="{picPath:static}/elements/hbdivider.jpg" width="415" height="8"><br>
	<a class="menuitem" href="{homePath:static}/Things/About">{global.button.bt_about}</a><br>
	<img src="{picPath:static}/elements/hbdivider.jpg" width="415" height="8"><br>
	<a class="menuitem" href="{homePath:static}/Things/Contact">{global.button.bt_contact}</a><br>
	<img src="{picPath:static}/elements/hbdivider.jpg" width="415" height="8"><br>
	<a class="menuitem" href="{homePath:static}/Things/Terms">{global.button.bt_terms}</a><br>
	<img src="{picPath:static}/elements/hbdivider.jpg" width="415" height="8"><br>
	</b>
<br>