<MAP NAME="mapurl1"> 
<AREA SHAPE="circle" COORDS="160,20,14" HREF="{homePath:static}/"> 
<AREA SHAPE="circle" COORDS="192,20,14" HREF="mailto:info@nycapts4rent.com"> 
<AREA SHAPE="circle" COORDS="228,20,14" HREF="{homePath:static}/"> 
</MAP>
		<TABLE WIDTH=900 BORDER=0 CELLPADDING=0 CELLSPACING=0>
			<TR>
				<TD><IMG SRC="{picPath:static}/header/NYC_02_1_01.jpg" WIDTH=285 HEIGHT=50 ALT=""></TD>
				<TD><IMG SRC="{picPath:static}/header/NYC_02_1_02.jpg" WIDTH=344 HEIGHT=50 ALT=""></TD>
				<TD><IMG SRC="{picPath:static}/header/NYC_02_1_03.jpg" WIDTH=271 HEIGHT=50 ALT=""></TD>
			</TR>
			<TR>
				<TD><IMG SRC="{picPath:static}/header/NYC_02_1_04.jpg" WIDTH=285 HEIGHT=48 ALT=""></TD>
				<TD><IMG SRC="{picPath:static}/header/NYC_02_1_05.jpg" WIDTH=344 HEIGHT=48 ALT=""></TD>
				<TD><IMG SRC="{picPath:static}/header/NYC_02_1_06.jpg" WIDTH=271 HEIGHT=48 ALT=""></TD>
			</TR>
			<TR>
				<TD><IMG SRC="{picPath:static}/header/NYC_02_1_07.jpg" WIDTH=285 HEIGHT=52 ALT=""></TD>
				<TD><IMG SRC="{picPath:static}/header/NYC_02_1_08.jpg" WIDTH=344 HEIGHT=52 ALT=""></TD>
				<TD><IMG border="0" SRC="{picPath:static}/header/NYC_02_1_09.jpg" WIDTH=271 HEIGHT=52 ALT="" usemap="#mapurl1"></TD>
			</TR>
		</TABLE>
