<script type="text/javascript" src="{rootPath:static}/scripts/utils/dhtmlSuite-tabView.js-uncompressed.js"></script>
<script type="text/javascript" src="{rootPath:static}/scripts/utils/ajax-dynamic-content.js"></script>
<script type="text/javascript" src="{rootPath:static}/scripts/utils/ajax-tooltip.js"></script>
<script type="text/javascript" src="{rootPath:static}/scripts/utils/form-field-tooltip.js"></script>
<script type="text/javascript" src="{rootPath:static}/scripts/forms.js"></script>

<script type="text/javascript" src="{rootPath:static}/scripts/utils/ajax.js"></script>
<script type="text/javascript" src="{rootPath:static}/scripts/utils/dhtmlSuite-autoComplete.js"></script>
<script type="text/javascript" src="{rootPath:static}/scripts/utils/ajax-dynamic-content.js"></script>

<span class="headline">Global System Settings</span>
<!-- BEGIN Edit -->
<form method=POST action="" name="gss" enctype="multipart/form-data">
<input type=hidden name="o" value="GlobalSystemSettingsView">
<input type=hidden name="step" value="update">
<input type="submit" style="visibility:hidden">
{id}{version}

<div id="DHTMLSuite_tabView2">
	<div class="DHTMLSuite_aTab">
		<fieldset>
		<legend>Email defaults</legend>
		<table border=0 cellpadding=2 cellspacing=0 width=450 align="center">
            <tr>
                <td valign=top align="right" width="200">Name of the setting: </td>
                <td valign=top align=left width="200">{setting_name} <span class="error">{setting_name_error}</span></td>

            </tr>
			<tr>
				<td valign=top align="right" width="200">Email Delimeter:</td>
				<td valign=top align=left width="200">{email_delimeter} <span class="error">{email_delimeter_error}</span></td>
			</tr>
		</table>
		</fieldset>
	</div>
</div>

<table border=0 cellpadding=2 cellspacing=0 width=368 align="center">
	<tr valign=top>
		<td align=center valign=middle height=40>
			<input class="button blue" id="formSubmit" type="submit" style="width:250px;" value="Update Settings" onclick="GetSettings()"/>
		</td>
	</tr>
</table>
{formEnd:static}
<!-- END Edit -->

<SCRIPT language="javascript">

var tabViewObj2 = new DHTMLSuite.tabView();
tabViewObj2.setParentId('DHTMLSuite_tabView2');
tabViewObj2.setTabTitles(Array('Common section'));
tabViewObj2.setIndexActiveTab(0);
tabViewObj2.setWidth('90%');
tabViewObj2.init();

var formValObj = new DHTMLSuite.formValidator({leftS:static} formRef:'gss',keyValidation:true,callbackOnFormValid:'enableSubmit',callbackOnFormInvalid:'disableSubmit',indicateWithBars:true {rightS:static});
</SCRIPT>