<span class="headline" align="center">{global.label.admin_editing}: {pagename}</span>
<form method=POST action="{formaction}" enctype="multipart/form-data">
<input type=hidden name="o" value="AdminPagesView">
<input type=hidden name="step" value="{action}">
<input type="hidden" name="form[id]" value="{idn}">
{item_langs1}{item_langs2}
<span class="error">{header_error}</span>
<table border=1 cellpadding=2 cellspacing=0 width=668>
	<tr>
		<td valign=top align=left>{global.label.name} :</td>
		<td valign=top align=left>{name} <span class="error">{name_error}</span> </td>
	</tr>
	<tr>
		<td></td><td colspan="1" align="left">{global.label.constraints_contentpage}</td>
	</tr>


	<tr>
		<td valign=top align=left>Заголовок :</td>
		<td valign=top align=left>{rus_header} <span class="error">{rusheader_error}</span></td>
	</tr>
	<tr>
		<td colspan="2" valign=top align=left height="300"><br>{rus_text}
		</td>
	</tr>

	<tr>
		<td valign=top align=left>Назва :</td>
		<td valign=top align=left>{ukr_header} <span class="error">{ukrheader_error}</span></td>
	</tr>
	<tr>
		<td colspan="2" valign=top align=left height="300"><br>{ukr_text}
		</td>
	</tr>


	<tr>
		<td valign=top align=left>{global.label.header} :</td>
		<td valign=top align=left>{eng_header} <span class="error">{engheader_error}</span></td>
	</tr>
	<tr>
		<td colspan="2" valign=top align=left height="300"><br>{eng_text}
		</td>
	</tr>
	<tr valign=top>
		<td colspan="2" align=center valign=middle height=40>
			<input class=button type=reset value="{global.button.admin_bt_clear}" style="width:160px;">&nbsp;<input class=button type=submit name=submit style="width:160px;" value="{actionbutton}">
		</td>
	</tr>
</table>
{formEnd:static}
