<table border="0" cellspacing="0" cellpadding="0" width="248">
	
<!-- BEGIN Menu -->
<tr>
	<td align="right" valign="middle" width="46">
		<table border=0 cellpadding=0 cellspacing=0>
			<tr><td width="39" align="right">{pointer}</td><td width="9">&nbsp;</td></tr>
		</table>
	</td>
	<td align="left" valign="middle" class="normal" width="202" colspan="3">
		<table border=0 cellpadding=0 cellspacing=0>
			<tr><td><a class="{menuclass}" href="{url}">{name}</a></td></tr>
		</table>
	</td>
</tr>
<tr>
	<td align="right" valign="middle" width="46"></td>
	<td>
		<!-- BEGIN Items -->
			<table border=0 cellpadding=0 cellspacing=0 width=35>
				<tr>
						<td width=5 height="25">&nbsp;</td>
						<td align="right" width=10>{pointer}</td><td width=5>&nbsp;</td>
						<td align="left" width=20><a class="{menuclass}" href="{url}"><strong>{name}</strong></a></td>
				</tr>
			</table>
			{divider}
		<!-- END Items -->
		</td>
	</tr>
	
<!-- END Menu -->
</table>
